body {
	display: flex;
	flex-direction: column;
	font-family: "Open Sans";
	color: #333F48;
	margin: 0;
	/*transform: skewX(3deg) rotate(-3deg); /*  <======  DELET THIS */
}

input, button {
	font-family: "Open Sans";
	font-size: 1rem;
}

button {
	background: #BF5700;
	border: none;
	color: white;
	padding: 8px;
	transition: 0.2s ease-out;
	border-radius: 2px;
	outline: none;
}

input {
	outline: none;
	padding: 8px;
	border: 2px solid #BF5700;
}

h1,h2 {
	margin-bottom: 0.25rem;
	font-weight: bold;
}

#headerimg {
	padding-bottom: 2rem;
	width: 100%;
}

#container {
	align-self: center;
	width: 650px;
	max-width: 100%;
	background: white;
	padding: 3rem 3rem 1.5rem;
	border-radius: 2px;
	margin-top: 1.5rem;
}

select {
	color: #000;
	padding: 8px;
	box-sizing: border-box;
	border-radius: 5px;
}

.checkboxes, .radios {
	display: block;
	width: 100%;
}

.checked {
	background-color: rgba(191, 87, 0, 1.0) !important;
	color: white;
}

label {
	color: #000;
	padding: 0.75rem 1rem;
	box-sizing: border-box;
	transition: 0.2s ease-out;
	user-select: none;
	cursor: pointer;
}
.checkboxes>label:not(:last-child) {
	border-bottom: 1px solid rgba(191, 87, 0, 0.5);
}

.checkboxes>label:hover, .radios>label:hover {
	background-color: rgba(191, 87, 0, 0.1);
}

.checkboxes>label {
	width: 100%;
	display: block;
}

.radios>label {
	width: 20%;
	text-align: center;
	display: inline-block;
}

.row {
	display: flex;
	flex-direction: row;
	padding-bottom: 1.5rem;
}

.row>input, .row>textarea {
	flex-grow: 1;
}

#modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background: rgba(0,0,0,0.4);
	border-radius: 2px;
}

#dialog {
	background: white;
	text-align: center;
	padding: 3rem;
	position: fixed;
	left: 50%;
	top: 30%;
	margin-left: -300px;
	width: 600px;
	margin-top: -100px;
	min-height: 200px;
	box-sizing: border-box;
	font-size: 2rem;
	border-radius: 2px;
}

#dialogBtn {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}

#altBtn {
	position: absolute;
	right: 5rem;
	bottom: 1rem;
}

.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1, button {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.z-depth-2, button:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3, button:active {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-4, .modal {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.z-depth-5, #dialog {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}